<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <title>Jonathan Portfolio</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <linK href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="https://fonts.googleapis.com/css?family=Kavoon|PT+Serif|Vast+Shadow|Roboto+Condensed" rel="stylesheet">
  <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
</head>

<body>


  <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container home" href="/" class="brand-logo">Jonathan Ho</a>
      <ul class="right hide-on-med-and-down">
        <li><a class="scroll" id="about" href="#">About</a></li>
        <li><a class="scroll" id="portfolio" href="#">Portfolio</a></li>
        <li><a class="scroll" id="heading" href="#">Goals</a></li>
        <li><a class="scroll" id="contact" href="#">Contact</a></li>
        <li><a id="resume" href="https://drive.google.com/file/d/0BwnFlwjRwDK6aWs5T1FQS2w2Mm8/view?usp=sharing" target="_blank">Resume</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#aboutSection">About</a></li>
        <li><a href="#portfolioSection">Portfolio</a></li>
        <li><a href="https://drive.google.com/file/d/0BwnFlwjRwDK6blQ5a3M5SVZWMlk/view?usp=sharing" target="_blank">Resume</a></li>
        <li><a href="#contactSection">Contact me</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>






  <div class="sect sectOne">


    <div class="info">
      <h2 id="profileTitle">Jon</h2>
      <h5 id="wdi">FullStack Web Developer</h5>
      <h5><a href="mailto:j.hokit80@gmail.com" target="_top">j.hokit80@gmail.com</a></h5>

    </div>
    <div class="buttonDiv">
      <a class="ghost" href="https://drive.google.com/file/d/0BwnFlwjRwDK6aWs5T1FQS2w2Mm8/view?usp=sharing" target="_blank">Curriculum Vitae</a>
    </div>
  </div>

  <div class="subsection intro">
  <br></br>
    <p id="aboutSection">ABOUT</p>
    <div class="container">
      <div class="circle">
        <img class="profilepic" src="images/mypic.png">
      </div>
      <div class="section">

        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="fa fa-briefcase" aria-hidden="true"></i></h2>
              <h5 class="center">Web Development</h5>

              <p class="light">Alumni of General Assembly with keen interests in MEAN Stack Web Development. Completed 4 projects using latest web development frameworks during course of study. Proficient in use of JavaScript, HTML, CSS and other backend framworks.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="fa fa-users" aria-hidden="true"></i></h2>
              <h5 class="center">Strong Client Relation Background</h5>

              <p class="light">I bring with me more than 6 years of customer service and bank operations experience. My work experiences have always revolved around building of long-term interpersonal relations, and breaking down complex issues into simplified solutions.</p>
            </div>
          </div>

          <div class="col s12 m4">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="fa fa-user" aria-hidden="true"></i></h2>
              <h5 class="center">Adaptable and self-driven</h5>

              <p class="light">I am a self-driven individual who constantly seeks to bring about better ways of doing things, through leverage on technology and simplification of work processes. I am highly adaptable to changes, and work well under tight pressures and deadlines.</p>
            </div>
          </div>
        </div>
        <!-- <h2 class="learningjourney1">My Learning journey in General Assembly</h2> -->
        <h4 class="learningjourney2">My Languages and Frameworks</h4>
      </div>
      <img class="programing" src="images/html5.jpg">
      <img class="programing" src="images/css.jpg">
      <img class="programing" src="images/bootstrap.png">
      <img class="programing" src="images/javascript.png">
      <img class="programing" src="images/angular2.png">
      <img class="programing" src="images/node.png">
      <img class="programing" src="images/jquery.jpg">
      <img class="programing" src="images/ajax.png">
      <img class="programing" src="images/mongodb.png">
      <img class="programing" src="images/rails.png">
      <img class="programing" src="images/sinatra.jpg">
      <img class="programing" src="images/express.png">
      <img class="programing" src="images/joomla.jpg">
      <br></br>
      <ul class="list-inline intro-social-buttons">
                           <li>
                               <a id="aboutbtn" href="https://github.com/goodwill80" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                           </li>
                           <li>
                               <a id="aboutbtn" href="https://www.linkedin.com/in/jonathan-ho-59b9a4ab" target="_blank" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">Linkedin</span></a>
                           </li>
                       </ul>
    </div>
  </br>
  </br>
  </br>
</br>
</br>
</br>
</br>
</br>
</br>
  </div>


  <div class="subSectionOne">

    <br></br>
    <div class="container">

      <!-- popout -->
      <div class="pop_background"></div>
      <div class="pop_box" id="pop_box">
        <span class="close">&times;</span>
        <div class="container">
          <h4 class="boxtitle">RewardsMart</h4>
          <img class="boximage" src="images/RewardAdminReward.png" />
          <img class="boximage" src="images/rewardsSignup.png" />
          <br></br>
          <h4>Description | WDI Individual Final Project</h4>
          <p><strong>RewardMart</strong> is an online platform that helps businesses manage and offers fast track loyalty reward programmes to their clients. Though this may not sounds like an original or ground-breaking idea, but it was something which i have encountered lacking in my previous workplace. And I’m happy that i am able to apply what i have leaned by building a full scale web application, comprising of both front and back-end functions, with full E- commerce capabilities.</p>
          <h4>Languages and Frameworks</h4>
          <p>Node.js, Express, MongoDB, EJS, JavaScript, HTML5/CSS, StripePayment, Ajax</p>
          <ul class="list-inline intro-social-buttons">
                               <li>
                                   <a id="aboutbtn" href="https://blooming-earth-11592.herokuapp.com/" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-info-circle" aria-hidden="true"></i> <span class="network-name">Client</span></a>
                               </li>
                               <li>
                                   <a id="aboutbtn" href="https://protected-ocean-88985.herokuapp.com/" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-info-circle" aria-hidden="true"></i> <span class="network-name">Admin</span></a>
                               </li>
                               <li>
                                   <a class="btn btn-default btn-lg aboutbtn2"><span class="network-name">Close</span></a>
                               </li>
                           </ul>
        </div>
      </div>


      <div class="pop_background"></div>
      <div class="pop_box" id="pop_box2">
        <span class="close">&times;</span>
        <div class="container">
          <h4 class="boxtitle">Chat IO</h4>
          <img class="boximage" src="images/ChatIO.png" />
          <img class="boximage" src="images/chatio2.png" />
          <br></br>
          <h4>Description | WDI Individual Class Assignment</h4>
          <p><strong>Chat IO</strong> is a simple chat app which allow users to communicate to one another remotely via a web server. This was an extemely interesting subject was taught in WDI, whereby students explored in the use of the web framework Socket.io to build a real-time chat application.</p>
          <h4>Programming tools</h4>
          <p>Node.js, Express, EJS, socket.io, JQuery, HTML5/CSS, Bootstrap</p>
          <ul class="list-inline intro-social-buttons">
                               <li>
                                   <a id="aboutbtn" href="https://powerful-cliffs-99671.herokuapp.com/" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-info-circle" aria-hidden="true"></i> <span class="network-name">Website</span></a>
                               </li>
                               <li>
                                   <a class="btn btn-default btn-lg aboutbtn2"><span class="network-name">Close</span></a>
                               </li>
                           </ul>
        </div>
      </div>

      <div class="pop_background"></div>
      <div class="pop_box" id="pop_box3">
        <span class="close">&times;</span>
        <div class="container">
          <h4 class="boxtitle">The Advocate</h4>
          <img class="boximage" src="images/advocate.png" />
          <img class="boximage" src="images/advocate2.png" />
          <br></br>
          <h4>Description | WDI Individual Project</h4>
          <p><strong>The Advocate</strong> is a simple chat app which allow users to communicate to one another remotely via a web server. This was an extemely interesting subject was taught in WDI, whereby students explored in the use of the web framework Socket.io to build a real-time chat application.</p>
          <h4>Programming tools</h4>
          <p>Ruby-on-rails, JQuery, HTML5/CSS, Bootstrap</p>
          <ul class="list-inline intro-social-buttons">
                               <li>
                                   <a id="aboutbtn" href="https://powerful-cliffs-99671.herokuapp.com/" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-info-circle" aria-hidden="true"></i> <span class="network-name">Website</span></a>
                               </li>
                               <li>
                                   <a class="btn btn-default btn-lg aboutbtn2"><span class="network-name">Close</span></a>
                               </li>
                           </ul>
        </div>
      </div>

      <div class="pop_background"></div>
      <div class="pop_box" id="pop_box4">
        <span class="close">&times;</span>
        <div class="container">
          <h4 class="boxtitle">JIO App</h4>
          <img class="boximage" src="images/jioapp3.png" />
          <img class="boximage" src="images/jio.png" />
          <br></br>
          <h4>Description | WDI Group Project </h4>
          <p><strong>JIO App</strong> is a GeoLocation platform which identify a user's location in realtime, enabling individuals to send inivitations to friends on the latest events happening round them, with the catchy tagline "Don't say we bojio!" Tremendous credits to my team members (Flapjacks-Gp1 from WDI4) for their great teamwork : <a href="https://github.com/anupamadh">Anu</a>, <a href="https://github.com/heysabs?tab=repositories">Sebrina</a>, <a href="https://github.com/bitbit-g?tab=repositories">Gabby</a> and <a href="https://github.com/bitbyt">Luqman</a>.</p>
          <h4>Programming tools</h4>
          <p>Node.js, Express, MongoDB / Mongoose, EJS, JQuery, Ajax, HTML5/CSS, bootstrap</p>
          <ul class="list-inline intro-social-buttons">
                               <li>
                                   <a id="aboutbtn" href="https://jio-app-client.herokuapp.com" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-info-circle" aria-hidden="true"></i> <span class="network-name">Website</span></a>
                               </li>
                               <li>
                                   <a id="aboutbtn" href="https://github.com/Flapjacks-Gp1" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-info-circle" aria-hidden="true"></i> <span class="network-name">GitHub</span></a>
                               </li>
                               <li>
                                   <a class="btn btn-default btn-lg aboutbtn2"><span class="network-name">Close</span></a>
                               </li>
                           </ul>
        </div>
      </div>

      <div class="pop_background"></div>
      <div class="pop_box" id="pop_box5">
        <span class="close">&times;</span>
        <div class="container">
          <h4 class="boxtitle">Yoda Speak API</h4>
          <img class="boximage" src="images/yoda.png" />
          <br></br>
          <h4>Description | WDI Pair Programming Assignment</h4>
          <p>Yoda who? Our favourite little green friend from the Star Wars franchise, first seen in Star Wars: The Empire Strikes Back, making a return in its sequel Star Wars: The Return of the Jedi. Learn how to talk like Yoda - just type or paste in a bunch of text and use the 'Convert to Yoda-Speak' button. Try it with jokes, emails, song lyrics, card messages, whatever! A pair programming project done with my WDI4 classmate <a href="https://github.com/meeniebeanie?tab=repositories">Jen Minyen</a></p>
          <h4>Programming tools</h4>
          <p>Ajax, JQuery, Mashape API, HTML5/CSS, Bootstrap</p>
          <ul class="list-inline intro-social-buttons">
                               <li>
                                   <a id="aboutbtn" href="https://meeniebeanie.github.io/yodaaaa/" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-info-circle" aria-hidden="true"></i> <span class="network-name">Website</span></a>
                               </li>
                               <li>
                                   <a class="btn btn-default btn-lg aboutbtn2"><span class="network-name">Close</span></a>
                               </li>
                           </ul>
        </div>
      </div>

      <div class="pop_background"></div>
      <div class="pop_box" id="pop_box6">
        <span class="close">&times;</span>
        <div class="container">
          <h4 class="boxtitle">Quizes and Todos</h4>
          <img class="boximage" src="images/todo.png" />
          <img class="boximage" src="images/Quiz2.png" />
          <br></br>
          <h4>Description | WDI Individual Class Assignments</h4>
          <p>Test your knowledge on general IQ to see how far you can go with our random quizes, or organise your daily activities using the todo App! 2 simple apps using Jquery and Bootstrapp CSS</p>
          <h4>Programming tools</h4>
          <p>JQuery, HTML5/CSS, Bootstrap</p>
          <ul class="list-inline intro-social-buttons">
                               <li>
                                   <a id="aboutbtn" href="https://goodwill80.github.io/Online-Quiz/" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-info-circle" aria-hidden="true"></i> <span class="network-name">Quizes</span></a>
                               </li>
                               <li>
                                   <a id="aboutbtn" href="https://goodwill80.github.io/jQueryTodoList/" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-info-circle" aria-hidden="true"></i> <span class="network-name">Todos</span></a>
                               </li>
                               <li>
                                   <a class="btn btn-default btn-lg aboutbtn2"><span class="network-name">Close</span></a>
                               </li>
                           </ul>
        </div>
      </div>

      <div class="pop_background"></div>
      <div class="pop_box" id="pop_box7">
        <span class="close">&times;</span>
        <div class="container">
          <h4 class="boxtitle">Blackjack</h4>
          <img class="boximage" src="images/blackjack.png" />
          <img class="boximage" src="images/blackjack2.png" />
          <br></br>
          <h4>Description | WDI Individual Project 1</h4>
          <p><strong>Blackjack</strong> is our 1st class assignment to test our understanding on the use of javaScript with a simple 2 player game logic</p>
          <h4>Programming tools</h4>
          <p>JQuery, HTML5/CSS, Bootstrap</p>
          <ul class="list-inline intro-social-buttons">
                               <li>
                                   <a id="aboutbtn" href="https://goodwill80.github.io/Blackjack/" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-info-circle" aria-hidden="true"></i> <span class="network-name">Website</span></a>
                               </li>
                               <li>
                                   <a class="btn btn-default btn-lg aboutbtn2"><span class="network-name">Close</span></a>
                               </li>
                           </ul>
        </div>
      </div>

      <div class="pop_background"></div>
      <div class="pop_box" id="pop_box8">
        <span class="close">&times;</span>
        <div class="container">
          <h4 class="boxtitle">Tic Tac Toe</h4>
          <img class="boximage" src="images/tictactoe.png" />
          <img class="boximage" src="images/tictactoe2.png" />
          <br></br>
          <h4>Description | WDI Individual Class Assignment</h4>
          <p><strong>Tic Tac Toe</strong> is our 1st class assignment to test our understanding on the use of javaScript with a simple 2 player game logic</p>
          <h4>Programming tools</h4>
          <p>JQuery, HTML5/CSS, Bootstrap</p>
          <ul class="list-inline intro-social-buttons">
                               <li>
                                   <a id="aboutbtn" href="https://goodwill80.github.io/tictactoe-with-JQuery/" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-info-circle" aria-hidden="true"></i> <span class="network-name">Website</span></a>
                               </li>
                               <li>
                                   <a class="btn btn-default btn-lg aboutbtn2"><span class="network-name">Close</span></a>
                               </li>
                           </ul>
        </div>
      </div>
      <!-- popout -->


      <p id="portfolioSection">PORTFOLIO</p>
      <div class="view view-first">
        <img src="images/RewardsMart.png" />
        <div class="mask">
          <h2>RewardsMart</h2>
          <p>An online client loyalty rewards platform. Full stack with Nord, MongoDB and Express.</p>
          <a id="open1" href="#" class="info">Read More</a>
        </div>
      </div>

      <div class="view view-first">
        <img src="images/ChatIO.png" />
        <div class="mask">
          <h2>Chat IO</h2>
          <p>A simple chat app done with the used of Socket.io</p>
          <a id="open2" href="#" class="info">Read More</a>
        </div>
      </div>

      <div class="view view-first">
        <img src="images/advocate.png" />
        <div class="mask">
          <h2>The Advocate</h2>
          <p>An online service provider feedback and review platform</p>
          <a id="open3" href="#" class="info">Read More</a>
        </div>
      </div>

      <div class="view view-first">
        <img src="images/jioapp.png" />
        <div class="mask">
          <h2>JIO App</h2>
          <p>JIO stands for invite in local slang</p>
          <a id="open4" href="#" class="info">Read More</a>
        </div>
      </div>

      <div class="view view-first">
        <img src="images/yoda.png" />
        <div class="mask">
          <h2>Yoda Speak API</h2>
          <p>An administrator platform for owner to register new members, add loyalty points and performed sale analytics</p>
          <a id="open5" href="#" class="info">Read More</a>
        </div>
      </div>

      <div class="view view-first">
        <img src="images/todo.png" />
        <div class="mask">
          <h2>Quizes and Todos</h2>
          <p>A random Quiz Game to test your general knowlegdge and a todo app to manage your daily tasks</p>
          <a id="open6" href="#" class="info">Read More</a>
        </div>
      </div>

      <div class="view view-first">
        <img src="images/blackjack.png" />
        <div class="mask">
          <h2>Blackjack</h2>
          <p>A modified game based on the hugely popular casino card game</p>
          <a id="open7" href="#" class="info">Read More</a>
        </div>
      </div>

      <div class="view view-first">
        <img src="images/tictactoe.png" />
        <div class="mask">
          <h2>Tic Tac Toe</h2>
          <p>A simple 2 player Tic-Tac-Toe App</p>
          <a id="open8" href="#" class="info">Read More</a>
        </div>
      </div>
    </div>
    <br>

    <div id="github">
        <p>Visit my GitHub</p>
      <ul class="list-inline intro-social-buttons">
                           <li>
                               <a id="aboutbtn" href="https://github.com/goodwill80" target="_blank" class="btn btn-default btn-lg "><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                           </li>
                       </ul>
      </a>
    </div>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
    </br>
  </div>


  <div class="sect sectTwo">


    </br>
    </br>
    <p id="headingSection">LONG TERM GOALS</p>
    <div class="goals">
      <p>I enrolled in General Assembly wanting to learn more about solving problems creatively, and to future-ready myself in the age of digitalisation. With a strong background in customer service and process management, i am seeking for a career opportunities in MEAN Stack Web Development which will allow me to contribute productively and to grow professionally</p>
    </div>


    <br></br>
    <div class="goals">
    <img id="mypic" src="images/jonathan.jpg"/>
    </div>
  </br>
  </br>
  <div class="mashape">
    <p class="quote"></p>
  </div>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
  </br>
</br>
</br>
</br>
</br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

  </div>







  <div class="sect sectThree">
    </br>
    </br>
    </br>
    <p id="contactSection">GET IN TOUCH</p>

    <div id="contactme" class="section">
      <div id="contactform" class="section-container">
        <!-- <div class="title">
          <h4>Contact Me <i class="fa fa-reddit"></i></h4>
        </div> -->
        <!-- www.123contactform.com script begins here -->
        <!-- www.123contactform.com script begins here -->
      <script type="text/javascript">var servicedomain="www.123contactform.com"; var frmRef=''; try { frmRef=window.top.location.href; } catch(err) {}; var cfJsHost = (("https:" == document.location.protocol) ? "https://" : "http://"); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/includes/easyXDM.min.js' type='text/javascript'%3E%3C/script%3E")); frmRef=encodeURIComponent(frmRef.replace(/(<([^>]+)>)/ig,'')).replace('%26','[%ANDCHAR%]'); document.write(unescape("%3Cscript src='" + cfJsHost + servicedomain + "/jsform-2228340.js?ref="+frmRef+"' type='text/javascript'%3E%3C/script%3E")); </script>



        <!-- <div class="form-container">
          <form METHOD="POST" ACTION="mailto:j.hokit80@gmail.com" ENCTYPE="text/plain">
            <div class="contactForm">
              <input class="space" required id="name" type="text" name="name" placeholder="Name">
            </div>
            <div class="contactForm">
              <input class="space" required id="email" type="email" name="email" placeholder="Email">
            </div>
            <div class="contactForm">
              <input class="space" required id="subject" type="text" name="subject" placeholder="Subject">
            </div>
            <div class="contactForm">
              <textarea class="space" required name="description" id="description" placeholder="Description"></textarea>
            </div>
            <br>
            <div class="contactForm">
              <button id="clear" type="reset" class="btn clear " name="clear">CLEAR</button>
              <button type="submit" class="btn action btn-small" name="submit">SEND</button>
            </div>
          </form> -->
          <!-- and-form -->
        </div>
        <!-- end-form-container -->

      </div>
      <!-- end-contact-container -->
    </br>
  </br>
</br>
</br>
</br>
    <!-- </div>
<div class="formemail">
<h4>Contact Me <i class="fa fa-reddit"></i></h4> -->
    <!-- www.123contactform.com script begins here -->



<!-- </div> -->



  </div>





  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="js/materialize.js"></script>
  <script src="js/init.js"></script>

</body>

</html>
