<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
  <title>Jonathan Portfolio</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <linK href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" type="text/css" rel="stylesheet" media="screen,projection" />
  <link href="https://fonts.googleapis.com/css?family=Kavoon|PT+Serif|Vast+Shadow|Roboto+Condensed" rel="stylesheet">
  <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
</head>

<body>


  <nav role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container home" href="/" class="brand-logo">Jonathan Ho</a>
      <ul class="right hide-on-med-and-down">
        <li><a id="about" href="#">About</a></li>
        <li><a id="portfolio" href="#">Portfolio</a></li>
        <li><a id="heading" href="#">Career Goals</a></li>
        <li><a id="contact" href="#">Contact me</a></li>
      </ul>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#aboutSection">About</a></li>
        <li><a href="#portfolioSection">Portfolio</a></li>
        <li><a href="https://drive.google.com/file/d/0BwnFlwjRwDK6blQ5a3M5SVZWMlk/view?usp=sharing" target="_blank">Resume</a></li>
        <li><a href="#contactSection">Contact me</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
  </nav>






  <div class="sect sectOne">


    <div class="info">
      <h1 id="profileTitle">Jon</h1>
      <h5 id="wdi">Full Stack Web Developer</h5>
    </div>
    <div class="buttonDiv">
      <a class="ghost" href="https://drive.google.com/file/d/0BwnFlwjRwDK6blQ5a3M5SVZWMlk/view?usp=sharing" target="_blank">Curriculum Vitae</a>
    </div>

  </div>

<div class="subsection intro">
</br>
  <p id="aboutSection">ABOUT</p>
  <div class="container">
    <div class="circle">
      <img class="profilepic" src="http://www.aceshowbiz.com/images/wennpic/andy-lau-press-conference-the-warlords-01.jpg">
    </div>
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Web Development</h5>

            <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Strong Client Relation Background</h5>

            <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Adaptable and self-driven</h5>

            <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started.</p>
          </div>
        </div>
      </div>
    </div>
    <img class="programing" src="images/html5.jpg">
    <img class="programing" src="images/css.jpg">
    <img class="programing" src="images/bootstrap.png">
    <img class="programing" src="images/javascript.png">
    <img class="programing" src="images/angular2.png">
    <img class="programing" src="images/node.png">
    <img class="programing" src="images/jquery.jpg">
    <img class="programing" src="images/ajax.png">
    <img class="programing" src="images/mongodb.png">
    <img class="programing" src="images/rails.png">
    <img class="programing" src="images/sinatra.jpg">
    <img class="programing" src="images/express.png">
    <img class="programing" src="images/joomla.jpg">
  </div>
</div>


    <div class="subSectionOne">

      <br></br>
      <div class="container">

        <p id="portfolioSection">PORTFOLIO</p>
        <div class="view view-first">
          <img src="images/RewardMart.png" />
          <div class="mask">
            <h2>RewardsMart</h2>
            <p>An online client loyalty rewards platform. Full stack with Nord, MongoDB and Express.</p>
            <a href="#" class="info">Read More</a>
          </div>
        </div>

        <div class="view view-first">
          <img src="images/ChatIO.png" />
          <div class="mask">
            <h2>Live Chat IO</h2>
            <p>A simple chat app done with the used of Socket.io</p>
            <a href="#" class="info">Read More</a>
          </div>
        </div>

        <div class="view view-first">
          <img src="images/Quiz.png" />
          <div class="mask">
            <h2>Random Quizes</h2>
            <p>A simple online quiz to test your general knwoledge. Done with JQuery, HTML5/CSS.</p>
            <a href="#" class="info">Read More</a>
          </div>
        </div>

        <div class="view view-first">
          <img src="images/blackjack.png" />
          <div class="mask">
            <h2>Blackjack</h2>
            <p>A modified game based on the hugely popular casino card game.</p>
            <a href="#" class="info">Read More</a>
          </div>
        </div>

        <div class="view view-first">
          <img src="images/RewardAdmin.png" />
          <div class="mask">
            <h2>RewardsAdmin</h2>
            <p>An administrator platform for owner to register new members, add loyalty points and performed sale analytics</p>
            <a href="#" class="info">Read More</a>
          </div>
        </div>

        <div class="view view-first">
          <img src="images/jioapp.png" />
          <div class="mask">
            <h2>JioApp</h2>
            <p>An geo-location app that pin points your exact location, and allows you to invite people in the surrounding to attend live events.</p>
            <a href="#" class="info">Read More</a>
          </div>
        </div>

        <div class="view view-first">
          <img src="images/jio.png" />
          <div class="mask">
            <h2>GeoLocation</h2>
            <p>A jio app to invite friends to the hottest events</p>
            <a href="#" class="info">Read More</a>
          </div>
        </div>

        <div class="view view-first">
          <img src="images/yoda.png" />
          <div class="mask">
            <h2>Yoda Speak API</h2>
            <p>A fun app which allows yoda to translate whenever sentences you typed!</p>
            <a href="#" class="info">Read More</a>
          </div>
        </div>
      </div>
      <br>
      <div id="github">
      <a href="https://github.com/goodwill80">
      <p>VISIT MY GITHUB</p>
      <img class="github" src="images/GitHub.jpg">
    </a>
    </div>
    </br></br></br></br>  </br></br></br></br></br></br>
    </div>


    <div class="sect sectTwo">
    </br></br>
    <p id="headingSection">LONG TERM GOALS</p>
      <div class="mashape">
        <p class="quote"></p>
      </div>
    </div>







    <div class="sect sectThree">
    </br></br></br>
        <p id="contactSection">GET IN TOUCH</p>

      <div class="section">
        <div id="contactform" class="section-container">
          <div class="title">
            <h4>Contact Me <i class="fa fa-reddit"></i></h4>
          </div>
          <div class="form-container">
            <form METHOD="POST" ACTION="mailto:j.hokit80@gmail.com" ENCTYPE="text/plain">
              <div class="contactForm">
                <input class="space" required id="name" type="text" name="name" placeholder="Name">
              </div>
              <div class="contactForm">
                <input class="space" required id="email" type="email" name="email" placeholder="Email">
              </div>
              <div class="contactForm">
                <input class="space" required id="subject" type="text" name="subject" placeholder="Subject">
              </div>
              <div class="contactForm">
                <textarea class="space" required name="description" id="description" placeholder="Description"></textarea>
              </div>
              <br>
              <div class="contactForm">
                <button id="clear" type="reset" class="btn clear " name="clear">CLEAR</button>
                <button type="submit" class="btn action btn-small" name="submit">SEND</button>
              </div>
            </form>
            <!-- and-form -->
          </div>
          <!-- end-form-container -->

        </div>
        <!-- end-contact-container -->

      </div>

    </div>





    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="js/materialize.js"></script>
    <script src="js/init.js"></script>

</body>

</html>
